@import url("https://styles.alv.cx/colors/base16-default.css");
@import url("https://styles.alv.cx/base.css");
@import url("https://styles.alv.cx/modules/darkmode.css");

body {
  font-family: monospace;
  font-size: 16px;
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  line-height: 1.1;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0em auto;
    padding: 2em;
  }
}
